<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}images/favicon-16x16.png">
<link rel="icon" type="image/png" href="{{.Site.BaseURL}}images/favicon.png">
<style type="text/css">
    body {
        font-family: 'Roboto', 'Segoe UI', sans-serif !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', 'Roboto', sans-serif !important;
    }
    #sidebar, #sidebar a, #sidebar .searchbox * {
        font-family: 'Roboto', 'Segoe UI', sans-serif !important;
    }
</style>
